body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: black;
background: url(oldtr.jpg) fixed;/*размер под*/
    background-position:100%,em;
    background-size:cover;
    background-repeat:no-repeat;
    min-width: 1000px;
   
   
}
main{
    padding: 10px 20px;
    border:5px solid black;
    margin-top:20px;
    background: rgba(255, 255, 255,0.7 ) ;
    
}
.kal{
    height: 40px;
    margin-top:-9px;
    margin-left: -40px;
    margin-right: -40px;
    background: black;
    
}
.glavnaya{
    box-sizing: border-box;
    margin-left: -40px;
    margin-right: -40px;
    height: 90px;
    background:#9e0909;
    
}
.mutd{
  font-family:arial;
margin-right: 40px;
    font-weight: 700;
    font-size:20px;
    text-decoration: none;
    color: white;
}
h1 {
    white-space: nowrap;/*чтобы на новую строку не переходило*/
    font-family:serif;/*стиль шрифта*/
    
  font-size: 30px;/* размер шрифта*/
    color:#ffe600;
   padding-left:120px;
    box-sizing: border-box;/**/
    padding-bottom: 0px;
    padding-top: 20px;
   
}

nav {
  color: black;

}

aside {
  margin: 20px 0;/*внешний отступ*/

  color: black;
}
footer {
  color:black;
  border-top: 1px solid #aaaaaa;/*вверхний бордер*/
  margin-top:350px;
    padding-top: 10px;
}
