body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: white;
background: url(oldtr.jpg);
    background-position: 100%, em;
    background-size:108% 200%;
    background-repeat:no-repeat;
    
     
 
      min-width: 1024px;
      max-width: 1920px;
    
}

h1 {
 
    background: white;
  font-size: 30px;
  line-height: 100px;
    width: 1100px;
    color:black;
    
}

nav {
  color: #888888;
border
}

aside {
  margin: 20px 0;

  color: #c4c4c4;
}
